[Desktop Entry]
Name=Those Funny Funguloids
Comment=
Comment[pl]=
Comment=Arcade game
Comment[pl]=Gra zręcznościowa
Exec=funguloids
Icon=funguloids
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
